In [32]:
import pandas as pd

In [36]:
male_df = pd.read_csv('male.csv')
trimmed_male_data = male_df[['stature', 'weightkg', 'waistcircumference']]
# stature = mm,
# weight xx.x kg,
# circumefernce = mm
trimmed_male_data.to_csv('male_cleaned_data.csv')

In [37]:
simple_male_data = pd.read_csv("male_cleaned_data.csv")

In [39]:
#simple_male_data.insert(4, column = "size", value="-")
simple_male_data.tail()

      Unnamed: 0  subjectid  stature  weightkg  waistcircumference
4077        4077      29442     1688       675                 816
4078        4078      29443     1765       896                 978
4079        4079      29447     1690       832                 991
4080        4080      29451     1718       731                 783
4081        4081      29452     1828       985                1080

In [41]:
female_df = pd.read_csv('female.csv')
#trimmed_female_data = female_df[['stature', 'weightkg', 'waistcircumference']]
trimmed_female_data = female_df[['stature', 'weightkg', 'waistcircumference']]
trimmed_female_data.to_csv('female_cleaned_data.csv')

In [42]:
simple_female_data = pd.read_csv("female_cleaned_data.csv")
simple_female_data.head()

   Unnamed: 0  stature  weightkg  waistcircumference
0           0     1560       657                 850
1           1     1665       534                 708
2           2     1711       663                 727
3           3     1660       782                 923
4           4     1572       886                1163