In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
male_df = pd.read_csv('C:/School/Big Data/Big_Data/male.csv')

In [11]:
trimmed_male_data = male_df[['stature', 'weightkg', 'chestbreadth', 'waistbreadth', 'hipbreadth', 'waistcircumference', 'Ethnicity']]
#male_df.head()
test_df = trimmed_male_data.head()
test_df.head()

,stature,weightkg,chestbreadth,waistbreadth,hipbreadth,waistcircumference,Ethnicity
0,1776,815,291,329,332,933,NaN
1,1702,726,269,316,312,870,NaN
2,1735,929,288,329,349,964,NaN
3,1655,794,296,315,338,857,NaN
4,1914,946,304,303,332,868,NaN

In [5]:
all_height = test_df['stature']
all_weight = test_df['weightkg']